@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 0 0% 100%;
    --fg: 223.81 0% 4%;

    --primary: 261.81 86% 59%;
    --primary-fg: 300 100% 100%;

    --secondary: 225 17% 96%;
    --secondary-fg: 223.81 0% 4%;

    --tertiary: 240.01 74% 99%;
    --tertiary-fg: 219.99 6% 9%;

    --accent: 261.81 86% 59%;
    --accent-fg: 300 100% 100%;
    --accent-subtle: 260 91% 96%;
    --accent-subtle-fg: 262.37 64% 45%;

    --overlay: 0 0% 100%;
    --overlay-fg: 239.93 9% 4%;

    --success: 161.17 91% 31%;
    --success-fg: 151.77 82% 96%;

    --info: 205.77 100% 50%;
    --info-fg: 0 0% 100%;

    --muted: 220 63% 98%;
    --muted-fg: 221.26 7.01% 51%;

    --danger: 0.01 72% 51%;
    --danger-fg: 360 86% 97%;

    --warning: 43.2 96% 56.99%;
    --warning-fg: 20.91 91% 14.1%;

    --overlay: 0 0% 100%;
    --overlay-fg: 240 10% 4%;

    --stroke-primary: 269 100% 92%;
    --stroke-secondary: 0 0% 90%;
    --stroke-tertiary: 0 0% 90%;
    --stroke-success: 127 42% 84%;
    --stroke-info: 127 42% 84%;
    --stroke-muted: 0 0% 56%;
    --stroke-danger: 356, 61% 86%;
    --stroke-warning: 356, 61% 86%;

    --border: 220 10% 88%;
    --input: 219.99 15% 88%;
    --ring: var(--primary);
    --toggle: 220 8% 79%;
    --placeholder: 0 0% 56%;

    --chart-primary: 261.17 93% 62%;
    --chart-secondary: 252.49 94% 85%;
    --chart-tertiary: 255.6 71% 70%;
    --chart-highlight: 250.55 64% 88%;
    --chart-accent: 251.42 89% 95%;

    --radius: 0.5rem;
  }

  .dark {
    --bg: 221.08 14.02% 3%;
    --fg: 240.01 74% 99%;

    --primary: 258.32 90% 66%;
    --primary-fg: 262.49 100% 99%;

    --secondary: 216 8% 11%;
    --secondary-fg: 240.01 8% 94%;

    --tertiary: 220.01 11% 5%;
    --tertiary-fg: 240.01 14.02% 97%;

    --accent: 258.32 90% 66%;
    --accent-fg: 262.49 100% 99%;
    --accent-subtle: 258.22 33% 14.02%;
    --accent-subtle-fg: 250 99% 98%;

    --success: 161.17 91% 31%;
    --success-fg: 151.77 82% 96%;

    --info: 205.77 100% 50%;
    --info-fg: 0 0% 100%;

    --muted: 222.93 9% 13%;
    --muted-fg: 221.54 7.01% 61%;

    --danger: 0.01 72% 51%;
    --danger-fg: 360 86% 97%;

    --warning: 43.2 96% 56.99%;
    --warning-fg: 20.91 91% 14.1%;

    --overlay: 240.03 6% 6%;
    --overlay-fg: 223.81 0% 98%;

    --stroke-primary: 269 100% 92%;
    --stroke-secondary: 0 0% 90%;
    --stroke-tertiary: 0 0% 90%;
    --stroke-success: 127 42% 84%;
    --stroke-info: 127 42% 84%;
    --stroke-muted: 0 0% 56%;
    --stroke-danger: 356, 61% 86%;
    --stroke-warning: 356, 61% 86%;

    --border: 222.93 9% 13%;
    --input: 222.92 9% 14.02%;
    --ring: var(--primary);
    --toggle: 223.7 9% 24%;
    --placeholder: 0 0% 56%;

    --chart-primary: 263.88 74% 52%;
    --chart-secondary: 252.49 94% 85%;
    --chart-tertiary: 255.6 71% 70%;
    --chart-highlight: 269.18 97% 85%;
    --chart-accent: 268.56 99% 92%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply border-border;
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 850;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
  }

  body {
    @apply bg-bg text-fg;
  }

  /* dark mode */
  .dark {
    scrollbar-width: thin;

    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-width: thin;
      }
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted;
    border-radius: 14px;
    border: 3px solid transparent;
  }
}
